/****** Object:  Database [POOII_CL2]    Script Date: 23/09/2019 20:18:01 ******/
CREATE DATABASE [POOII_CL2]
GO

USE [POOII_CL2]
GO
/****** Object:  Table [dbo].[Conductor]    Script Date: 23/09/2019 20:18:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Conductor](
	[ConductorId] [int] IDENTITY(1,1) NOT NULL,
	[Dni] [varchar](10) NULL,
	[Nombre] [varchar](30) NULL,
	[ApellidoPaterno] [varchar](30) NULL,
	[ApellidoMaterno] [varchar](30) NULL,
	[Brevete] [varchar](20) NULL,
	[Telefono] [varchar](20) NULL,
	[Estado] [char](1) NULL,
	[IdTipoDocumento] [int] NULL,
 CONSTRAINT [PK_Conductor] PRIMARY KEY CLUSTERED 
(
	[ConductorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Marca]    Script Date: 23/09/2019 20:18:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Marca](
	[IdMarca] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Marca] PRIMARY KEY CLUSTERED 
(
	[IdMarca] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TipoDocumento]    Script Date: 23/09/2019 20:18:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoDocumento](
	[IdTipoDocumento] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
 CONSTRAINT [PK_TipoDocumento] PRIMARY KEY CLUSTERED 
(
	[IdTipoDocumento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Vehiculo]    Script Date: 23/09/2019 20:18:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vehiculo](
	[IdVehiculo] [int] IDENTITY(1,1) NOT NULL,
	[Placa] [varchar](20) NOT NULL,
	[Año] [int] NULL,
	[Modelo] [varchar](50) NULL,
	[IdMarca] [int] NOT NULL,
 CONSTRAINT [PK_Vehiculo] PRIMARY KEY CLUSTERED 
(
	[IdVehiculo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Viaje]    Script Date: 23/09/2019 20:18:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Viaje](
	[ViajeId] [int] IDENTITY(1,1) NOT NULL,
	[Origen] [char](6) NULL,
	[Destino] [char](6) NULL,
	[VehiculoId] [int] NULL,
	[ConductorId] [int] NULL,
	[FechaPartida] [datetime] NULL,
	[FechaLlegada] [datetime] NULL,
 CONSTRAINT [PK_Viaje] PRIMARY KEY CLUSTERED 
(
	[ViajeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Conductor] ON 

INSERT [dbo].[Conductor] ([ConductorId], [Dni], [Nombre], [ApellidoPaterno], [ApellidoMaterno], [Brevete], [Telefono], [Estado], [IdTipoDocumento]) VALUES (1, N'78854687', N'CLEVER', N'CLEMENTE', N'FABIAN', N'M23008128', N'*0212027', N'0', 1)
INSERT [dbo].[Conductor] ([ConductorId], [Dni], [Nombre], [ApellidoPaterno], [ApellidoMaterno], [Brevete], [Telefono], [Estado], [IdTipoDocumento]) VALUES (2, N'9604812', N'GENNER ROBERTO', N'RAMIREZ', N'VILLON', N'Y-09604812', N'#257246', N'1', 1)
INSERT [dbo].[Conductor] ([ConductorId], [Dni], [Nombre], [ApellidoPaterno], [ApellidoMaterno], [Brevete], [Telefono], [Estado], [IdTipoDocumento]) VALUES (3, N'23378942', N'VICTOR', N'MORAN', N'FERNANDEZ', N'R-23378942', N'#360695', N'1', 1)
GO
SET IDENTITY_INSERT [dbo].[Conductor] OFF
SET IDENTITY_INSERT [dbo].[Marca] ON 

INSERT [dbo].[Marca] ([IdMarca], [Nombre]) VALUES (1, N'BAYLON')
INSERT [dbo].[Marca] ([IdMarca], [Nombre]) VALUES (2, N'CHEVROLET')
INSERT [dbo].[Marca] ([IdMarca], [Nombre]) VALUES (3, N'DONGFENG')
SET IDENTITY_INSERT [dbo].[Marca] OFF
SET IDENTITY_INSERT [dbo].[TipoDocumento] ON 

INSERT [dbo].[TipoDocumento] ([IdTipoDocumento], [Nombre]) VALUES (1, N'DNI')
INSERT [dbo].[TipoDocumento] ([IdTipoDocumento], [Nombre]) VALUES (2, N'Pasaporte')
INSERT [dbo].[TipoDocumento] ([IdTipoDocumento], [Nombre]) VALUES (3, N'Carnet de Extranjería')
SET IDENTITY_INSERT [dbo].[TipoDocumento] OFF
SET IDENTITY_INSERT [dbo].[Vehiculo] ON 

INSERT [dbo].[Vehiculo] ([IdVehiculo], [Placa], [Año], [Modelo], [IdMarca]) VALUES (1, N'YQ3312', 2010, N'', 18)
INSERT [dbo].[Vehiculo] ([IdVehiculo], [Placa], [Año], [Modelo], [IdMarca]) VALUES (2, N'C7W729', 2007, N'', 12)
INSERT [dbo].[Vehiculo] ([IdVehiculo], [Placa], [Año], [Modelo], [IdMarca]) VALUES (3, N'B9F861', 1988, N'F12', 18)
GO
SET IDENTITY_INSERT [dbo].[Vehiculo] OFF
SET IDENTITY_INSERT [dbo].[Viaje] ON 

INSERT [dbo].[Viaje] ([ViajeId], [Origen], [Destino], [VehiculoId], [ConductorId], [FechaPartida], [FechaLlegada]) VALUES (72, N'150103', N'120303', 118, 122, CAST(N'2011-03-01T15:09:00.000' AS DateTime), CAST(N'2011-04-01T11:52:00.000' AS DateTime))
INSERT [dbo].[Viaje] ([ViajeId], [Origen], [Destino], [VehiculoId], [ConductorId], [FechaPartida], [FechaLlegada]) VALUES (73, N'150103', N'250101', 58, 97, CAST(N'2011-04-01T06:00:00.000' AS DateTime), CAST(N'2011-06-01T05:12:00.000' AS DateTime))
INSERT [dbo].[Viaje] ([ViajeId], [Origen], [Destino], [VehiculoId], [ConductorId], [FechaPartida], [FechaLlegada]) VALUES (74, N'150103', N'250101', 93, 96, CAST(N'2011-04-01T05:30:00.000' AS DateTime), CAST(N'2011-06-01T12:00:00.000' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[Viaje] OFF
ALTER TABLE [dbo].[Conductor]  WITH CHECK ADD  CONSTRAINT [FK_Conductor_TipoDocumento] FOREIGN KEY([IdTipoDocumento])
REFERENCES [dbo].[TipoDocumento] ([IdTipoDocumento])
GO
ALTER TABLE [dbo].[Conductor] CHECK CONSTRAINT [FK_Conductor_TipoDocumento]
GO
ALTER TABLE [dbo].[Vehiculo]  WITH CHECK ADD  CONSTRAINT [FK_Vehiculo_Marca] FOREIGN KEY([IdMarca])
REFERENCES [dbo].[Marca] ([IdMarca])
GO
ALTER TABLE [dbo].[Vehiculo] CHECK CONSTRAINT [FK_Vehiculo_Marca]
GO
ALTER TABLE [dbo].[Viaje]  WITH CHECK ADD  CONSTRAINT [FK_Viaje_Conductor] FOREIGN KEY([ConductorId])
REFERENCES [dbo].[Conductor] ([ConductorId])
GO
ALTER TABLE [dbo].[Viaje] CHECK CONSTRAINT [FK_Viaje_Conductor]
GO
ALTER TABLE [dbo].[Viaje]  WITH CHECK ADD  CONSTRAINT [FK_Viaje_Vehiculo] FOREIGN KEY([VehiculoId])
REFERENCES [dbo].[Vehiculo] ([IdVehiculo])
GO
ALTER TABLE [dbo].[Viaje] CHECK CONSTRAINT [FK_Viaje_Vehiculo]
GO
/****** Object:  StoredProcedure [dbo].[usp_actualizar_vehiculo]    Script Date: 23/09/2019 20:18:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--	
create proc [dbo].[usp_actualizar_vehiculo]
@id int,@placa varchar(50),@year int,@modelo varchar(50),@idM int
as
update Vehiculo set Placa=@placa,Año=@year,Modelo=@modelo,IdMarca=@idM where IdVehiculo=@id


GO
/****** Object:  StoredProcedure [dbo].[usp_listar_marcas]    Script Date: 23/09/2019 20:18:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--
create proc [dbo].[usp_listar_marcas]
as
select*from Marca


GO
/****** Object:  StoredProcedure [dbo].[usp_listar_vehiculo]    Script Date: 23/09/2019 20:18:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--
create proc [dbo].[usp_listar_vehiculo]
as
select*from Vehiculo


GO
USE [master]
GO
